/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
   height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
 }

 #title {
	text-align: left;
	font-size: 150%;
	font-family: Guardians;
	padding: 20px;
	color: #fff;
}

.container {
	display: flex;
	/*justify-content: center;
	flex-direction: column;*/
}

#map {
	margin: 0 auto;
	margin-left: 15px;
	width: 60vw;
	height: 80vh;
	color: #111;
	/*box-shadow: 25px 25px 100px 25px black;*/
}

#weather {
	background-color: #222222;
	width: 800px;
	padding: 4px;
	overflow: auto;
}

#weather > .forecastMoment {
	float: left;
	width: 96px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #D7DBDF;
	border-radius: 6px;
	color: #444;
	font-size: 0.8em;
}

.temp {
	font-weight: bold;
	color: #0af;
	font-size: 1.3em;
}

.hidden {
	display: none;
}