/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/*#map {
   height: 100%;
}*/

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: Roboto;
 }

 #title {
	text-align: left;
	font-size: 150%;
	font-family: Guardians;
	padding: 20px;
	color: #fff;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

#map {
	margin: 0 auto;
	margin-left: 15px;
	/*width: 60vw;*/
	height: 80vh;
	color: #111;
}

#weather {
	background-color: #222222;
	padding: 4px;
	overflow: auto;
	
}

#weather > .forecastMoment {
	float: left;
	width: 96px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #D7DBDF;
	border-radius: 6px;
	color: #444;
	font-size: 0.8em;
}

.temp {
	font-weight: bold;
	color: #0af;
	font-size: 1.3em;
}

.hidden {
	display: none;
}


/*mobile scherm*/
@media only screen and (max-width: 320px) {

	#map {
		margin: 0 auto;
		/*margin-left: 20px;*/
		/*width: 130vw;
		height: 80vh;*/
		color: #111;
	}
	
	.item {
		display: block;
		width: 100%;
	}
}

/*tablet*/
@media only screen and (min-width: 321px) and (max-width: 720px) {

	#map {
		margin: 0 auto;
		/*margin-left: 20px;*/
		/*width: 100vw;
		height: 80vh;*/
		color: #111;
	}

	.item {
		display: block;
		width: 100%;
	}
}


/*desktop*/
@media only screen and (min-width: 721px) {


	#map {
		margin: 0 auto;
		margin-left: 20px;
		/*width: 60vw;
		height: 80vh;*/
		color: #111;
	}

	.item {
		display: block;
		width: 48%;
	}
}
